footer{
    grid-area: foot;
}
.copyright {
    font-size: 1.5rem;
    margin: 0 4rem 0 0;
}
.copyright__red{
    color: $decorationColor;
    font-style: italic;
    font-weight: bold;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    margin-top: 3rem;
}
.footer_gracias{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.btn-wsp{
    position:fixed;
    bottom: 1rem;
    right: 1rem;
    img{
        max-width: 3rem;
        max-height: 3rem;
        transition: 0.5s;
    }
    img:hover{
        transform: scale(1.1)
    }
}

$mapRedes: (
    facebook: #1778F2,
    instagram:#E1306C,
    telegram: #229ED9
    );

@each $redsocial, $color in $mapRedes {
    
    .#{$redsocial} {
        color: $firstColor;
        font-size: 2rem;
        margin:0 0.5rem 0 0 ;
    }
    .#{$redsocial}:hover {
        color: $color;
    }
    
}



@media screen and (max-width:768px) {
    .footer{
        flex-wrap: wrap-reverse;
    }
    .copyright {
        font-size: 1rem;
        margin: 2rem;
    }
    .fab { 
        font-size: 1.5rem;
    }
    .btn-wsp{
        width:3rem;
        height:3rem;
        line-height: 2.9rem;
	}

}