.animation__box{
  margin: 2rem 0 2rem;
  width: 100%;
  height: 4rem;
  background-color: $firstColor;
  overflow: hidden;
}
.animation {

color: $secondColor;
position: relative;
animation-name: animar;
animation-duration: 6s;
animation-iteration-count: infinite;
animation-timing-function:linear;
animation-delay: 0;
font-size: 2rem;

span{
  font-size: 3rem;
  font-style: italic;
}

}
@keyframes animar{
0% {
  top: 0;
  left: -5%;
}

100% {
  top: 0;
  left: 100%;
}
}