header{
    grid-area: head;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center; 
}
.header__logo{
    margin: 0 0 0 2rem;
}
.header__menu{
    margin: 0 2rem 0 0;

    ul{
        margin: 0;
    }
}
.header__menu__list{
    li{
        display: inline;
        margin: 0.5rem;
        a{
            display: inline;
            margin: 0.5rem;
            text-decoration: none;
            text-transform: uppercase;
            color: $firstColor;
            transition: 0.5s;
        }
        a:hover {
            text-decoration-style: solid;
            text-decoration: underline;
            text-decoration-color: $decorationColor;
            text-decoration-thickness: 3px;
        }
    }
}
label #sign-one,
label #sign-two {
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
    margin-right: 1.5rem;
}
#checkbox {
    display: none;
}

@media screen and (max-width: 768px) {
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: $secondColor;
}

.header__logo{
    img {
        width: 2.5rem;
        height: 2.5rem;
    }  
}
.header__menu{
    display: none;  
}
.header__menu__list  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    width: 100vw;
    padding: 0;
    li{ 
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem ;
        a{
            text-decoration: underline;
            text-decoration-thickness: 0.1rem;
            text-decoration-color: $decorationColor;
            color: $secondColor;
        }
    }
}
#checkbox:checked ~ .header__menu{
    display: flex;
    position: absolute;
    top: 5.05rem;
    z-index: 10;
    background-color: $firstColor;
    opacity: 0.9;
}
label #sign-one{
    display: block;
    margin-right: 1.5rem;
}
#checkbox:checked ~ label #sign-one {
    display: none;
}
#checkbox:checked ~ label #sign-two {
    display: block;
}
}



