main {
  grid-area: main;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@mixin parametrosbackground($size,$position,$repeat,$height) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
  height: $height;
}
.box-img1 {
  background:url(../assets/cars1.webp);
  @include parametrosbackground(cover,center,no-repeat,65vh);
  border-top: 1px solid $firstColor;
  border-bottom: 1px solid $firstColor;
}
.box-img2 {
  background:url(../assets/cars2.webp);
  @include parametrosbackground(cover,center,no-repeat,65vh);
  border-top: 1px solid $firstColor;
  border-bottom: 1px solid $firstColor;
}
.box-img3 {
  background:url(../assets/cars3.webp);
  @include parametrosbackground(cover,center,no-repeat,65vh);
  border-top: 1px solid $firstColor;
  border-bottom: 1px solid $firstColor;
}
// animacion clase
.animate__animated {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  font-style: italic;
}
.intro__title--red {
  color: $decorationColor;
  font-size: 2rem;
}
.intro__text {
  font-size: 1.3rem;
  width: 50vw;
  text-align: center;
  color: $firstColor;
}
.intro__point {
  color: $decorationColor;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
 
  .box-img1,.box-img2,.box-img3{
    height: 46vh;
  }
  .intro__title {
    font-size: 1.5rem;
  }
  .intro__title--red {
    font-size: 1.8rem;
  }
  .intro__text {
    font-size: 1rem;
    width: 70vw;
  }
  .intro__point {
   @extend.intro__title
  }
}
