
.staff__card__img{
    max-width: 25rem; 
    max-height: 36rem;
}
.card-title{
    color: $bootTextColor;
}

@media screen and (max-width:768px) {
    .staff__card__img{
        max-width: 90vw; 
        max-height: 36rem;
    }
}