.staff__card__img{
   width: 28rem; 
   height: 37rem;
}
.card-title{
    color: $bootTextColor;
}
.card {
    cursor:default;
}
@media screen and (max-width:768px) {
    .staff__card__img{
       width: 27rem; 
       height: 36rem;   
    }
}
@media screen and (max-width:480px) {
    .staff__card__img{
        width: 90vw; 
        height: 72vh;
     }
}