.card__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 1rem;
}
.card {
    cursor: pointer;
    border: 0px solid rgba(0,0,0,.125);
}
.nav-link {
    color: $firstColor;
    text-transform: uppercase;
}
.nav-link:hover{
    transform: scale(1.02);
    color: $firstColor;
}
.card_description{
    color: $secondColor;
    font-weight: 500;
}
.card-title{
    color: $secondColor;
    margin: 0;
}
.card-body {
    padding: 0.5rem 0 0.5rem 0;
}
.whatsapp_link{
    text-decoration: none;
    cursor: pointer;
    color: $firstColor;
}
.whatsapp_link:hover{
    color: $firstColor;
}
.caracteristicas{
    display:inline-block;
    margin: 0;
    padding:0.25rem;
    font-size: 1rem;
    font-weight: bold;
}
.caracteristicasModal{
    display: inline-block;
    margin: 0;
    padding:0.25rem;
    font-size: 1rem;
    font-weight: bold;
}
.nav-tabs .nav-link {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.titulo{
    text-align: center;
    color: black;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.info{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width:1000px) {
    .card__grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:768px) {
    .card__grid{
        grid-template-columns: 1fr;
    }   
    .modal-title{
        font-size: 1rem;
    }
    .caracteristicasModal{
        margin: 0;
        padding:0.25rem;
        font-size: 1rem;
        font-weight: bold;
        display: block;
    }
}
