.card__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    row-gap: 1rem;
    column-gap: 1rem;
    margin: 1rem;
}
.card{
    cursor: pointer;
}
.nav-link {
    color: $firstColor;
    text-transform: uppercase;
}
.nav-link:hover{
    transform: scale(1.02);
    color: $firstColor;
}
.card_description{
    color: $secondColor;
    font-weight: 500;
}
.card-title{
    color: $secondColor;
}
.card-body {
    padding: 0.5rem 0 0.5rem 0;
}
.whatsapp_link{
    text-decoration: none;
    cursor: pointer;
    color: $firstColor;
}

.whatsapp_link:hover{
    color: $firstColor;
}

@media screen and (max-width:1000px) {
    .card__grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .card__grid{
        grid-template-columns: 1fr;
    }   
}
