*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './variables';
@import './header';
@import './index';
@import'./vehiculos';
@import'./staff';
@import'./financiacion';
@import'./contacto';
@import'./footer';
@import'./gracias';


body {
    font-family: 'Roboto', sans-serif;
    background-color: $secondColor;
    color: $firstColor;
    display: grid;
    width: 100%;
    grid-template-areas: "head"
                         "main"
                         "foot";
}


@media screen and (max-width: 768px) {
    main{
        margin-top: 5.05rem;
    }
}


